<%- include('../include/head.ejs')  %>
<link rel="Stylesheet" href="/css/dashboard.css" />
</head>
<body bgcolor="whitesmoke">
    <%- include('../include/admin-nav.ejs') %>
    <div class="container">
        <div class="container">
            <h1>Logggin</h1>
            <div class="white">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
        </div>
        
    </div>
    <script src="js/adminScript.js"></script>
<%- include('../include/end.ejs') %> 