<%- include('./include/head.ejs')  %>
</head>
<body bgcolor="whitesmoke">
    <% if (user) { %>
        <% if (user.role == false) { %>
            <script src="js/dashboardScript.js"></script>
        <% } else { %>
            <script src="js/adminScript.js"></script>
        <% } %>
        <%- include('./include/nav.ejs') %>
    <% } else { %>
        <script src="js/script.js"></script>
        <%- include("./include/main-nav.ejs")  %>
    <% } %>
    <div class="container">
        <div class="container">
            <div class="white">
                <h2>OOhs, Page not found</h2>
            </div>
        </div>
    </div> 
    
<%- include('./include/end.ejs') %> 