/* label color */
.input-field label {
    font-size: large;
    left: 0 !important;
    margin: 10px 0;
    position: relative !important;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.input-field input[type=text], .input-field input[type=email], .input-field input[type=file]{
    border: 1px solid #cccccc;
    margin: 5px 0;
    height: 35px !important;
    padding: 0 5px;
}

.input-field textarea {
  height: 300px;
  border: 1px solid #cccccc;
  margin: 2px 0;
  padding: 10px 5px;
}

.input-field input[type=text]:not(.browser-default), .input-field input[type=email]:not(.browser-default), .input-field textarea, 
.input-field input[type=file]:not(.browser-default){
    border-bottom: 1px solid #cccccc !important;
    box-shadow: none !important;
}

.input-field>label.active {
    background-color: transparent !important;
    color: blue !important;
}
  /* label focus color */
/* .input-field input[type=text]:focus + label {
    /* color: #000; */

  /* label underline focus color */
  /* .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  } */
  /* valid color */
  /* .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  } */
  /* invalid color */
  /* .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  } */
  /* icon prefix focus color */
  /* .input-field .prefix.active {
    color: #000;
  } */