.card-content p {
  font-size: xx-small;
}
.dropdown-content {
  width: 180px !important;
  top: 50px !important;
}
.dropdown-content li a{
  font-size: small !important;
}
.container .white {
  padding: 30px;
  margin: 40px 0;
}
@media screen and (min-with: 481px) and (max-width: 760px) {
  .dropdown-content {
    left: 20% !important;
    top: 35% !important;
  }
}

@media screen and (max-with: 480px) {
  .dropdown-content {
    left: 20% !important;
    top: 28% !important;
  }
}

* {box-sizing:border-box}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: 50px 0
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: white;
  font-weight: bolder;
  font-size: x-large;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: rgb(185, 3, 3);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* .active, .dot:hover {
  background-color: #717171;
} */

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: .5s;
  animation-name: fade;
  animation-duration: .5s;
}


@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.category {
  border: 1px solid #ccc; 
  cursor: pointer; 
  padding: 8px !important; 
  margin: 10px 15px; 
  border-radius: 20px; 
  color: black;
}