/* The alert message box */
.alert {
  padding: 10px; /* Red */
  color: white;
  margin-bottom: 15px;
  transition: ease-out 0.6s;
  margin: 15px 15px;
  margin-left: auto;
  width: 400px;
  font-size: smaller;
  opacity: 1;
  transition: opacity 0.6s;
}

.fail {
  background-color: #ff5252;
}

.success {
  background-color: green;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
