.post {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100% !important;
    height: 250px;
    margin: 35px 0;
}

.post:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.6s;
}

.post .post-image {
    width: 30%;
}
.post-image img {
    width: 100%;
    height: 100%;
}

.post .body {
    display: block;
    width: 70%;
}

.post .body .title {
    padding: 0 15px;
}
.post .body .title p {
    font-size: medium;
}
.body .detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
}
.body .detail p {
    font-size: x-small;
    color: #ccc;
}
.body .content {
    padding: 0 15px;
}
.body .content p {
    text-align: left;
    font-size: small;
    color: black;
}
@media (max-width: 500px) {
    .post {
        display: block;
        height: 100%;
        padding: 10px !important;
    }
    .post-container {
        width: 380px;
    }
   .post .body {
        width: 100% !important;
        height: 70% !important;
    }
    .post .post-image {
        width: 100% !important;
        height: 30% !important;
    }
    .post .body .detail p, .post .body .content p {
        font-size: small !important;
    } 
}

.post-detail-image {
    width: 100%;
    height: 350px;
    margin: 15px 0;
}

.post-detail-image .image-post {
    width: 100%;
    height: 100%;
}

.post-detail-user-date {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding: 10px 10px;
    margin: 25px 0
}
.post-detail-user-date .grey-text {
    width: 30%;
}
.post-detail-user-date .post-detail-user {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 10px 10px
}

.user-image {
    width: 30%;
}
.user-image img {
    width: 100%;
    height: 100%;
}