<footer class="page-footer #1976d2 blue darken-2">
    <div class="footer-copyright #1976d2 blue darken-2">
      <div class="container">
      © 2021 Blogit PathTech
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
</footer>