<div class="navbar">
    <a href="#default" id="logo">BLOGit</a>
    <div class="menu-icon-con">
      <div class="menu-icon"></div>
      <div class="menu-icon"></div>
      <div class="menu-icon"></div>
    </div>
    <div class="navbar-right">
      <a class="active" href="#home">Home</a>
      <a href="#contact">Posts</a>
      <a href="#about">About</a>
      <a class="btn login" href="#login-page">Login</a>
    </div>
</div>